---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}
Each vServer can be mapped to an instance of a F5 Load Balancer Service.
{{ tffile "examples/resources/alkira_service_f5_vserver_endpoint/resource.tf" }}
The vServer can also be mapped to multiple instances of a F5 Load Balancer Service.
{{ tffile "examples/resources/alkira_service_f5_vserver_endpoint/resource1.tf" }} 
{{ .SchemaMarkdown | trimspace }}



