---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

~>**NOTE:** `alkira_byoip` data source is deprecated, use `alkira_byoip_prefix` instead.

# {{.Name}} ({{.Type}})
{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/data-sources/alkira_byoip/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

