name: build-latest
on:
  push:
    branches:
      - dev

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_S3_DOWNLOADS_DEV_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_DOWNLOADS_DEV_SECRET_KEY }}
  AWS_REGION: us-east-1
  BUILD_DIR: /home/runner/work/terraform-provider-alkira/terraform-provider-alkira
  BUILD_ARTIFACTS_PATH: s3://downloads.alkira.com/dev/terraform-provider-alkira/latest
  CGO_ENABLED: 0

jobs:
  latest:
    name: latest
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build terraform provider
        run: |
          cd ${{ env.BUILD_DIR }}
          latest_tag=$(git tag --sort=-v:refname | head -1)
          commit_count=$(git rev-list --count HEAD ^${latest_tag})
          short_hash=$(git rev-parse --short HEAD)
          ver="${latest_tag}-${commit_count}-g${short_hash}"
          echo "latest_version=$ver" >> $GITHUB_ENV
          make release

      - name: Upload to S3 latest directory
        run: |
          aws s3 rm "${{ env.BUILD_ARTIFACTS_PATH }}/" --recursive
          aws s3 cp releases/${{ env.latest_version }} "${{ env.BUILD_ARTIFACTS_PATH }}/" --recursive

      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          # For posting a rich message using Block Kit
          payload: |
            {
              "text": "Latest Build: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*terraform-provider-alkira-${{ env.latest_version }}*\n- <https://downloads.alkira.com/dev/terraform-provider-alkira/latest/terraform-provider-alkira-${{ env.latest_version }}-darwin-amd64.tar.gz|darwin-amd64> - <https://downloads.alkira.com/dev/terraform-provider-alkira/latest/terraform-provider-alkira-${{ env.latest_version }}-darwin-arm64.tar.gz|darwin-arm64> - <https://downloads.alkira.com/dev/terraform-provider-alkira/latest/terraform-provider-alkira-${{ env.latest_version }}-linux-amd64.tar.gz|linux-amd64> - <https://downloads.alkira.com/dev/terraform-provider-alkira/latest/terraform-provider-alkira-${{ env.latest_version }}-linux-arm64.tar.gz|linux-arm64> - <https://downloads.alkira.com/dev/terraform-provider-alkira/latest/terraform-provider-alkira-${{ env.latest_version }}-windows-amd64.zip|win-amd64>"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
          
      - name: Post status of build failures on Slack channels
        if: failure()
        id: slack-build-failure
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.AK_BUILDBOT_SLACK_BOT_TOKEN }}
          BRANCH: ${{ steps.get-branch.outputs.branch }}
          AK_SERVICE_NAME: ${{ steps.build.outputs.ak_service_name }}
          AK_SERVICE_VERSION: ${{ steps.build.outputs.ak_service_version }}
        with:
          channel-id: "C072N7RDAKZ"
          payload: |
            {
              "text": "Build: ${{ env.AK_SERVICE_NAME }}[${{ env.BRANCH }}]: ${{ job.status }}",
               "blocks": [
                   {
                       "type": "header",
                       "text": {
                           "type": "plain_text",
                           "text": "${{ env.AK_SERVICE_NAME }} [${{ env.BRANCH }}]",
                           "emoji": true
                       }
                   },
                   {
                       "type": "divider"
                   },
                   {
                       "type": "section",
                       "fields": [
                           {
                               "type": "mrkdwn",
                               "text": "*Status:*\n${{ job.status }}"
                           },
                           {
                               "type": "mrkdwn",
                               "text": "*Committed By:*\n${{ github.triggering_actor }}"
                           }
                       ]
                   },
                   {
                       "type": "section",
                       "fields": [
                           {
                               "type": "mrkdwn",
                               "text": "*Vesion:*\n${{ env.AK_SERVICE_VERSION }}"
                           },
                           {
                               "type": "mrkdwn",
                               "text": "*Commit:*\n<${{ github.event.pull_request.html_url || github.event.head_commit.url }}|${{ github.sha }}>"
                           }
                       ]
                   },
                   {
                       "type": "section",
                       "text": {
                           "type": "mrkdwn",
                           "text": "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Build Action>"
                       }
                   }
               ]
            }

