# This GitHub action can publish assets for release when a tag is created.
# Currently its setup to run on any tag that matches the pattern "v*" (ie. v0.1.0).
#
# This uses an action (paultyng/ghaction-import-gpg) that assumes you set your
# private key in the `GPG_PRIVATE_KEY` secret and passphrase in the `PASSPHRASE`
# secret. If you would rather own your own GPG handling, please fork this action
# or use an alternative one for key handling.
#
# You will need to pass the `--batch` flag to `gpg` in your signing step
# in `goreleaser` to indicate this is being used in a non-interactive mode.
#
name: build-release
on:
  push:
    tags:
      - 'v*'

env:
  CGO_ENABLED: 0

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      -
        name: Import GPG key
        id: import_gpg
        # TODO: move this to HashiCorp namespace or find alternative that is just simple gpg commands
        # see https://github.com/hashicorp/terraform-provider-scaffolding/issues/22
        uses: paultyng/ghaction-import-gpg@v2.1.0
        env:
          # These secrets will need to be configured for the repository:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          # GitHub sets this automatically
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Post status of build failures on Slack channels
        if: failure()
        id: slack-build-failure
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.AK_BUILDBOT_SLACK_BOT_TOKEN }}
          BRANCH: ${{ steps.get-branch.outputs.branch }}
          AK_SERVICE_NAME: ${{ steps.build.outputs.ak_service_name }}
          AK_SERVICE_VERSION: ${{ steps.build.outputs.ak_service_version }}
        with:
          channel-id: "C072N7RDAKZ"
          payload: |
            {
              "text": "Build: ${{ env.AK_SERVICE_NAME }}[${{ env.BRANCH }}]: ${{ job.status }}",
               "blocks": [
                   {
                       "type": "header",
                       "text": {
                           "type": "plain_text",
                           "text": "${{ env.AK_SERVICE_NAME }} [${{ env.BRANCH }}]",
                           "emoji": true
                       }
                   },
                   {
                       "type": "divider"
                   },
                   {
                       "type": "section",
                       "fields": [
                           {
                               "type": "mrkdwn",
                               "text": "*Status:*\n${{ job.status }}"
                           },
                           {
                               "type": "mrkdwn",
                               "text": "*Committed By:*\n${{ github.triggering_actor }}"
                           }
                       ]
                   },
                   {
                       "type": "section",
                       "fields": [
                           {
                               "type": "mrkdwn",
                               "text": "*Vesion:*\n${{ env.AK_SERVICE_VERSION }}"
                           },
                           {
                               "type": "mrkdwn",
                               "text": "*Commit:*\n<${{ github.event.pull_request.html_url || github.event.head_commit.url }}|${{ github.sha }}>"
                           }
                       ]
                   },
                   {
                       "type": "section",
                       "text": {
                           "type": "mrkdwn",
                           "text": "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Build Action>"
                       }
                   }
               ]
            }

